@media screen and (min-width: 1200px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #discover-main {
        max-width: 1000px;
        grid-template-columns: 1fr 2fr;
    }
    .hero-image {
        grid-column: 1 / 4;
    }
    #call-to-action {
        grid-column: 1 / 4;
    }
    #spotlight {
        grid-column: 3 / 4;
    }
    #discover-images {
        grid-column: 2 / 3;
        grid-row: 1 / 6;
    }
    #thankyoutext {
        grid-column: 1 / 4;
    }
}