@media screen and (min-width: 600px) {
    #menu {
        display: none;
    }
    nav {
        flex-direction: row;
        margin-bottom: 1rem;
    }
    nav a {
        display: block;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }
    .hero-image {
        grid-column: 1 / 3;
    }
    #call-to-action {
        grid-column: 1 / 3;

    }
    #spotlight {
        grid-column: 1 / 3;
    }
}