body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Serif', serif;
    background-color: #f4f4f4;
    margin-bottom: 40px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
header img {
    max-width: 80px;
}
#menu {
    background: none;
    border: none;
    color: white;
    font-size: larger;
    position: absolute;
    top:150px;
    right: 20px;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
    content: "✖";
}
.active::before{
    content: "> ";
}
.active::after {
    content: " <"
}
nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #444;
}
.open a{
    display: block;
}
nav a {
    display: none;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    text-decoration: none;
    padding: 0.7rem;
}
nav a:hover {
    background-color: #666;
}
nav a:active {
    background-color: #888;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
    padding-top: 0;
}
main picture {
    width: 100%;
    margin:0 auto;
    grid-column: 1 / 3;
}
main picture img {
    width: 100%;
}
.overlay {
    position: absolute;
    padding: 1rem;
    background-color: rgba(60, 60, 60, 0.708);
    color: white;
}
h2 {
    text-align: center;
}

.card {
    grid-template-columns: 1fr;
    gap: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 1rem;
}
.card h3{
    border-radius: 8px 8px 0 0;
    font-family: 'Roboto Mono', monospace;
    background-color: steelblue;
    text-align: center;
    padding: 1rem;
}
.card ul {
    padding: 1rem;
    list-style-type: none;
}
.card li{
    padding: 0.2rem 0.5rem;
}
.card p{
    padding: 1rem;
}
.weather {
    display: flex;
    align-items: center;
}
iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 2rem 0;
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}